<div class="container vh-100 d-flex row mx-auto">
    <h1 class="text-center mt-5">Gallery</h1>
    <div class="py-5 bg-danger col-6 d-flex flex-column justify-content-around align-items-center">
        <i class="fa-solid fa-magnifying-glass fa-4x"></i>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima ad, sed laudantium culpa ipsam ratione doloremque molestiae fugiat dolores explicabo enim harum molestias consequuntur eos porro repellendus quia in ipsum perferendis dignissimos consectetur voluptatum. Eaque dolores ex quidem excepturi, odit pariatur tempore sed beatae id architecto, veritatis et dolore voluptatem.</p>
    </div>
    <div class="py-5 bg-primary col-6 d-flex flex-column justify-content-around align-items-center">
        <i class="fa-solid fa-user fa-4x"></i>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi architecto asperiores! Explicabo aut fugit ullam ex nulla illum placeat quae, doloribus voluptatibus culpa tempore quisquam ipsa aspernatur neque magni! Accusantium, laudantium laborum numquam, qui iusto totam ullam nulla sint explicabo facere veritatis aut, asperiores mollitia optio eveniet! Earum, natus?</p>
    </div>
</div>
